.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-container button {
  margin: 0 5px;
}
.passwordbody {
  width: 40%;
}
.input-group {
  position: relative;
}
.middle {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 0;
}
.backbtn {
  float: right;
  background: #222659 !important;
  font-weight: 600;
}
.allbtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button.savedpass.btn.btn-primary {
  background: #2d5480;
  font-weight: 600;
}
.savepass {
  background: #008001;
  border: none;
  font-weight: 600;
}
.input-group .copy-button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
#passwordfield {
  text-align: center;
  font-size: 30px;
}
.generatenew {
  background: #7085db;
  border: #7085db;
}
.passwordpage {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-tooltip {
  position: relative;
  display: inline-block;
  width: 100%;
}
small.text-muted.form-text {
  color: #47dbee !important;
  font-size: 15px;
  font-weight: 600;
}
.input-tooltip__content {
  visibility: visible;
  background-color: #000;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  position: absolute;
  z-index: 1;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  white-space: nowrap;
}

/* .input-tooltip:hover .input-tooltip__content {
    visibility: visible;
    opacity: 1;
} */

.input-tooltip__input {
  border: 1px solid #ccc;
  padding: 8px;
}
@media (max-width: 576px) {
  .passwordbody {
    width: 90%;
  }
}
